Web/templates/views/index.pug
doctype html
html(lang="de")
    head
        title Dashboard
        link(rel="stylesheet", href="/css/index.css")
        script(src="/js/index.js")
    body
        section.body
            section.head
                h1 <a href="/">schwarzrot<span style="font-size: 15px;">.net</span></a>
                ul.menu
                    li <a href="#">Forum</a>
                    li <a href="#">Blog</a>
                    li <a href="#">Ausloggen</a>
            section.left
                ul.menu
                    li.profile
                        img(src="img/profilepic.png")
                        h1 Karl Marx
                        h2 derkrasse69
                    li Profil
                    li Mailing
                    li Hosting
                    li Einladen
                    li Logs
                    li Spenden
            section.right

Web/templates/views/index.html
<!DOCTYPE html><html lang="de"><head><title>Dashboard</title><link rel="stylesheet" href="/css/index.css"><script src="/js/index.js"></script></head><body><section class="body"><section class="head"><h1><a href="/">schwarzrot<span style="font-size: 15px;">.net</span></a></h1><ul class="menu"><li><a href="#">Forum</a></li><li><a href="#">Blog</a></li><li><a href="#">Ausloggen</a></li></ul></section><section class="left"><ul class="menu"><li class="profile"><img src="img/profilepic.png"><h1>Karl Marx</h1><h2>derkrasse69</h2></li><li>Profil</li><li>Mailing</li><li>Hosting</li><li>Einladen</li><li>Logs</li><li>Spenden</li></ul></section><section class="right"></section></section></body></html>
